<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>My test page</title>
</head>
<body>
    <h1>Modify node's parent</h1>

    <form action="{% url 'company_model_manager:node' node_id %}" method="POST">
        {% csrf_token %}
        <label for="node_id">Node ID:</label><br>
        <input type="text" id="node_id" name="node_id"><br>
        <label for="new_parent_id">New parent ID:</label><br>
        <input type="text" id="new_parent_id" name="new_parent_id"><br><br>
        <input type="submit" value="Set new parent!">
    </form>
</body>
</html>